* {
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 1em;
  }
  
  .personas ul {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  form {
    display: flex;
    width: 300px;
    flex-direction: column;
    text-align: start;
    gap: 1em;
    padding: 10px 5px;
  }