<!--<h2>Registro de productos</h2>
<form id="formRegistro">
  <input type="text" name="title" placeholder="nombre" required>
  <input type="text" name="description" placeholder="ingredientes" required>
  <input type="text" name="code" placeholder="código" required>
  <input type="number" name="price" placeholder="precio" required>
  <input type="boolean" name="status" placeholder="status" required>
  <input type="number" name="stock" placeholder="stock" required>
  <input type="text" name="category" placeholder="categoria" required>
  <input type="text" name="thumbnails" placeholder="imagen" required>
  <input type="submit" value="Registrar">
</form>
<script src="/static/js/registro.js"></script>-->