<h1>Tu perfil</h1>
<p>Nombre: {{user.nombre}}</p>
<p>Apellido: {{user.apellido}}</p>
<p>Correo electronico: {{user.email}}</p>
<p>Rol:{{user.rol}}</p>

<form action="/logout" method="post">
  <button type="submit">Desloguearme!</button>
</form>